.u-icon {
    display: flex;
    justify-content: center;
    img {
        width: 1.8rem;
        height: 1.8rem;
    }
    &.u-icon-large { 
        img {
            width: 2.5rem;
           height: 2.5rem;

        }
    }
}
.u-marker-location {
    background: #f5222d !important;
}
